* {
    overflow-x: hidden;
    overflow-y: scroll;
    --font-size-h2: 4rem;
    --text-color: rgba(255, 255, 255, 0.9);
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    color: rgba(244, 244, 244, 1);
}

.parent-container {
    position: relative;
    height: 100%;
    width: 100%;
}

section {
    width: 100vw;
    color: var(--text-color);
}

/* Hero section styling starts */
section.hero {
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

section.hero video {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

section.hero .hero-info-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

section.hero img {
    position: relative;
    bottom: 20%;
    height: 15vh;
    min-height: 50px;
    flex: 0 1 100px;
}

section.hero h1 {
    position: relative;
    bottom: 5%;
    font-size: 7rem;
    margin-bottom: 2rem;
}
section.hero .hero-bottom {
    position: relative;
    top: 27%;
    text-align: center;
}

section.hero .hero-bottom .drop-down-logo img {
    width: 3.5rem;
    height: 3rem;
}



/* Hero section styling ends */

/* Intro section styling starts */
section.intro {
    background: url('./assets/images/alaska-picture1-calebRiston.jpg') no-repeat;
    position: relative;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    height: 85vh;
    display: none;
    justify-content: space-around;
    align-items: center;
}

section.intro .intro-title {
    position: relative;
    top: 10rem;
    align-self: self-start;
    font-size: 4rem;
    margin: 0 2rem 0 4rem;
    width: 50%;
    min-width: 30%;
    min-height: 70%;
    overflow: scroll;
}

section.intro .intro-paragraph-container {
    width: 50%;
    max-height: 70%;
    font-size: 1.5rem;
    margin-right: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section.intro .intro-paragraph-container .read-more-btn {
    width: 100px;
    height: 50px;
    align-self: center;
    background-color: rgba(249, 180, 45, 1);
    border: none;
    border-radius: 100px;
}

section.intro .intro-paragraph-container .read-more-btn:hover {
    background-color: rgb(231, 155, 3);
}
/* Intro section styling ends */

/* places section styling starts */
section.places {
    height: 85vh;
    background: url("./assets/images/alaska-picture3-annieSpratt.jpg") no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section.places .places-title {
    font-size: var(--font-size-h2);
    width: 80%;
    text-align: center;
}

section.places .places-container {
    display: flex;
    width: 88%;
    height: 50%;
    justify-content: space-between;
}

section.places .places-container div {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 1px;
}

section.places .places-container .place-1 {
    /* background: url("./assets/images/alaska-picture4-mckaylaCrump.jpg") no-repeat center; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(68, 68, 68) 100%), url("./assets/images/alaska-picture4-mckaylaCrump.jpg");
    background-size: cover;
}

section.places .places-container div img {
    width: 2rem;
    height: 1.5rem;
}

section.places .places-container .place-2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(68, 68, 68) 100%), url("./assets/images/alaska-picture5-patrickFederi.jpg") no-repeat center;
    background-size: cover;
}

section.places .places-container .place-3 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(68, 68, 68) 100%), url("./assets/images/alaska-picture6-timothyHolmes.jpg") no-repeat center;
    background-size: cover;
}

section.places button {
    width: 120px;
    height: 50px;
    border: 0.5px solid;
    border-radius: 5px;
    background-color: rgb(186, 216, 206);
    opacity: 0.65;
    font-size: 1rem;
}
/* Places section styling ends */

/* Activity section styling starts */
section.activity {
    background: url("./assets/images/alaska-picture7-lineKjaer.jpg") center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-size: cover;
    height: 65vh;
    display: none;
    justify-content: space-around;
    padding: 100px;
    gap: 4rem;
    overflow: hidden;
}

section.activity h2 {
    font-size: var(--font-size-h2);
    /* padding: 5rem 3rem 3rem 3rem; */
    position: relative;
    flex: 1 0 45%;
    text-align: start;
}

section.activity .activity-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 1.5rem;
} 

section.activity .activity-info-container h4 {
    font-size: 2rem;
}

section.activity .activity-info-container p {
    width: 80%;
    font-size: 1.3rem;
    margin-bottom: 1.25rem;
}
/* Activity section styling ends */

/* Facts section styling starts */
section.facts {
    background: url("./assets/images/alaska-picture8-frankThiemonge.jpg");
    background-size: cover;
    background-color: rgba(243, 228, 228, 0.3);
    background-blend-mode: lighten;
    height: 70vh;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

section.facts .fact {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 33, 33);
    color: rgba(255, 255, 255, 1);
    border-radius: 50%;
}

section.facts .fact h2 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}
/* Facts section styling ends */

/* Review section styling starts */
section.review {
    background: url("./assets/images/alaska-picture9-roman_romanenko.jpg") center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section.review .reviewer-picture {
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 2rem;
}

section.review .reviewer-paragraph {
    width: 50%;
    font-size: 1.5rem;
}

section.review .reviewer-name {
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    bottom: 2rem;
}

section.review .drop-down-icon {
    width: 80px;
    height: 75px;
    margin-bottom: 2rem;
}
/* Review section styling ends */

/* Image-scrollable section styling starts */
/* Image-scrollable section styling ends */

/* Conctact section styling starts */
/* Contact section styling ends */