* {
    overflow-x: scroll;
    overflow-y: scroll;
    --font-size-h2: 4rem;
    --text-color: rgba(255, 255, 255, 0.9);
}

.credit {
    color: var(--text-color);
    width: auto;
    height: 2rem;
    font-size: 1rem;
}

h2,
p {
    margin:0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    color: rgba(244, 244, 244, 1);
}

section {
    color: var(--text-color);
}

/* Hero section styling starts */
section.hero {
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

section.hero video {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

section.hero .hero-info-wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 0 8rem 0;
    width: 90%;
    height: 90%;
}

section.hero .hero-info-wrapper p {
    position: relative;
    bottom: 7em;
    font-size: 1.1rem;
}

section.hero img {
    position: relative;
    height: 15vh;
    min-height: 50px;
}

section.hero h1 {
    font-size: 8rem;
}

section.hero .hero-bottom {
    text-align: center;
    position: relative;
    top: 7rem;
    height: 7rem;
}

section.hero .hero-bottom p{
    color: var(--text-color);
    text-align: center;
    font-size: 1rem;
    position: relative;
    top: 1px;
}

section.hero .hero-bottom .drop-down-logo img {
    width: 3.5rem;
    height: 3rem;
}
/* Hero section styling ends */

/* Intro section styling starts */
section.intro {
    background: url('./assets/images/alaska-picture1-calebRiston.jpg') no-repeat;
    position: relative;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 3rem;
}

section.intro .intro-title {
    position: relative;
    padding-top: 5rem;
    align-self: self-start;
    font-size: 4rem;
    margin: 0 2rem 0 4rem;
    width: 50%;
    min-width: 30%;
    min-height: 70%;
    overflow: scroll;
}

section.intro .intro-paragraph-container {
    width: 50%;
    height: 90%;
    padding-top: 5rem;
    font-size: 1.5rem;
    margin-right: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section.intro .intro-paragraph-container .read-more-btn {
    width: 100px;
    height: 50px;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
}

section.intro .intro-paragraph-container .read-more-btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
}
/* Intro section styling ends */

/* places section styling starts */
section.places {
    height: 90vh;
    background: url("./assets/images/alaska-picture3-annieSpratt.jpg") no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
}

section.places .places-title {
    font-size: var(--font-size-h2);
    width: 80%;
    text-align: center;
}

section.places .places-container {
    display: flex;
    width: 88%;
    height: 50%;
    justify-content: space-between;
}

section.places .places-container div {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 1px;
}

section.places .places-container div img {
    width: 2rem;
    height: 1.5rem;
}

section.places .places-container .place-1 {
    /* background: url("./assets/images/alaska-picture4-mckaylaCrump.jpg") no-repeat center; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(68, 68, 68) 100%), url("./assets/images/alaska-picture4-mckaylaCrump.jpg");
    background-size: cover;
}


section.places .places-container .place-2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(68, 68, 68) 100%), url("./assets/images/alaska-picture5-patrickFederi.jpg") no-repeat center;
    background-size: cover;
}

section.places .places-container .place-3 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(68, 68, 68) 100%), url("./assets/images/alaska-picture6-timothyHolmes.jpg") no-repeat center;
    background-size: cover;
}

section.places button {
    width: 120px;
    height: 50px;
    border: 0.5px solid;
    border-radius: 5px;
    background-color: rgb(186, 216, 206);
    opacity: 0.65;
    font-size: 1rem;
}
/* Places section styling ends */

/* Activity section styling starts */
section.activity {
    background: url("./assets/images/alaska-picture7-lineKjaer.jpg") center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-size: cover;
    height: 85vh;
    display: none;
    justify-content: center;
    padding: 3rem;
}

section.activity h2 {
    width: 50%;
    font-size: var(--font-size-h2);
    text-align: start;
}

section.activity .activity-info-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

section.activity .activity-info-container h4 {
    flex-grow: 0;
    font-size: 1.5rem;
}

section.activity .activity-info-container p {
    flex-grow: 0;
    font-size: 1.3rem;
    width: 80%;
    display: block;
}
/* Activity section styling ends */

/* Facts section styling starts */
section.facts {
    background: url("./assets/images/alaska-picture8-frankThiemonge.jpg");
    background-size: cover;
    background-color: rgba(243, 228, 228, 0.3);
    background-blend-mode: lighten;
    height: 70vh;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

section.facts .fact {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 33, 33);
    color: rgba(255, 255, 255, 1);
    border-radius: 50%;
}

section.facts .fact h2 {
    font-size: 3.5rem;
    margin-bottom: 10px;
}
/* Facts section styling ends */

/* Review section styling starts */
section.review {
    background: url("./assets/images/alaska-picture9-roman_romanenko.jpg") center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    height: 95vh;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section.review .reviewer-picture {
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 2rem;
}

section.review .reviewer-paragraph {
    width: 50%;
    font-size: 1.5rem;
}

section.review .reviewer-name {
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    bottom: 2rem;
}

section.review .drop-down-icon {
    width: 80px;
    height: 75px;
    margin-bottom: 2rem;
}
/* Review section styling ends */

/* Image-scrollable section styling starts */
section.images {
    height: 55vh;
    display: none;
}

section.images .image{
    display: block;
    position: relative;
    width: 25vw;
    height: 100%;
}

section.images .image.one {
    background: url("./assets/images/alaska-picture10-richManalang.jpg");
    background-size: cover;
}

section.images .image.two {
    background: url("./assets/images/alaska-picture11-calebRibston.jpg");
    background-size: cover;
}

section.images .image.three {
    background: url("./assets/images/alaska-picture12-coryGazaille.jpg");
    background-size: cover;
}

section.images .image.four {
    background: url("./assets/images/alaska-picture13-michaelChen.jpg");
    background-size: cover;
}

section.images .icon {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100; 
}

section.images .image-logo-container {
    width: 100vw;
    height: 55vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

section.images .image-logo-container .icon.left {
    position: relative;
    align-self: center;
    transform: rotate(0.25turn);
}

section.images .image-logo-container .icon.right {
    position: relative;
    align-self: center;
    transform: rotate(0.75turn);
}
/* Image-scrollable section styling ends */

/* Conctact section styling starts */
section.contact {
    background: url("./assets/images/alaska-picture14-kedarGadge.jpg") no-repeat center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    height: 85vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 5rem 3rem;
}

section.contact .company-contact {
    width: 40%;
}

section.contact .company-contact .contact-title{
    font-size: 5rem;
    margin-bottom: 1rem;
}

section.contact .company-contact p{
    font-size: 1.2rem;
    padding: 3px 0;
}

section.contact .company-contact .logo-container{
    margin-top: 1rem;
}

section.contact .company-contact .logo-container .contact{
    width: 30px;
    height: 30px;
    padding: 0.4rem;
}

section.contact .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

section.contact .form-container input {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 3rem;
    background: none;
    border: rgb(255, 255, 255) 1px solid;
    color: var(--text-color);
}
section.contact .form-container input::placeholder {
    color: var(--text-color);
}

section.contact .form-container textarea {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 8rem;
    background: none;
    border: rgb(255, 255, 255) 1px solid;
    color: var(--text-color);
    
}

section.contact .form-container textarea::placeholder {
    color: var(--text-color);
}

section.contact .form-container button {
    width: 90px;
    height: 35px;
    font-size: 1rem;
    align-self: end;
    
}

/* Contact section styling ends */